@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* 
{
    box-sizing: border-box;
}

body, #app 
{
    font-family: 'Roboto', sans-serif;
}

#logo
{
    font-family: 'Varela Round', sans-serif;
    font-size: 1.5em;
    color: hsl(141, 53%, 53%);
}

#logo:hover
{
    background-color: hsl(0, 0%, 96%)
}