@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');

* 
{
    box-sizing: border-box;
}

body, #app 
{
    font-family: 'Roboto', sans-serif;
}

#logo
{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.5em;
    color: hsl(204, 86%, 53%)
}

#logo:hover
{
    background-color: hsl(0, 0%, 96%)
}

.has-bg-img 
{ 
    background: linear-gradient(rgba(0, 0, 0, 0.1), 40%, rgba(0, 0, 0, 1)), url('/images/dashboard-map2.jpg');background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}